@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Black'), local('RFDewiExpanded-Black'),
    url('RFDewiExpanded-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RFDewiExpanded-Ultrabold'), local('RFDewiExpanded-Ultrabold'),
    url('RFDewiExpanded-Ultrabold.woff2') format('woff2'),
    url('RFDewiExpanded-Ultrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Regular'), local('RFDewi-Regular'),
    url('RFDewi-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Bold'), local('RFDewi-Bold'),
    url('RFDewi-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}